$sidebar-width: 15%;

.dashboard {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding-left: 20px;

    .sidebar {
        width: $sidebar-width;
        background-color: #0b0c10;
        color: #FFFFFF;
        padding: 20px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1000;

        .top {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        
            .logo {
            font-size: 20px;
            font-weight: bold;
            color: #ffffff;
            }
        }

        hr {
            height: 0;
            border: 0.5px solid rgb(230, 227, 227);
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            .title {
                font-size: 10px;
                font-weight: bold;
                color: #999;
                margin-top: 15px;
                margin-bottom: 5px;
            }

            li {
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #161f27;
                    border-radius: 5px;
                }

                span {
                    color: #FFFFFF;
                    margin-left: 10px;
                }

                .icon {
                    font-size: 23px;
                    color: #ffffff;
                }

                a {
                text-decoration: none;
                color: #ecf0f1;
                font-size: 18px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .mainContent {
        margin-left: $sidebar-width;
        flex: 1;
        background-color: #222629;
        padding: 50px;
        overflow: auto;
    
        h1 {
            color: #86c232;
        }
    
        .newNotesSpan {
            font-size: large;
            color: #848789;
        }
    
        .cardsContainer {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
    
        .card {
            background-color: #484b4d;
            border-radius: 10px;
            padding: 20px;
            width: 28%;
            display: flex;
            align-items: center; 
            text-align: left;
            color: white;
            transition: transform 0.3s ease;
            cursor: pointer;
    
            &:hover {
                transform: translateY(-5px);
                background-color: #5e6265;
            }
    
            .cardIcon {
                margin-right: 15px;
            }
        
            .content {
                h2 {
                    font-size: 1.2rem;
                    margin: 3px 0 0 0; // Posun h2 o 3px dolů
                    color: #ffffff;
                }
        
                p {
                    font-size: 0.9rem;
                    color: #b4b4b4;
                    margin: 4px 0 0 0; // Posun p o 3px dolů (1px navíc, aby byl p těsně pod h2)
                }
            }
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        z-index: 2000;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.3s ease;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;

        &.overlayVisible {
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
        }

        &.overlayHidden {
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
        }
    }

    .floatingPanel {
        background-color: #2c2f32;
        color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        width: 700px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transform: scale(0.01);
        transition: transform .3s ease, opacity .3s ease;
        opacity: 0;

        .optionList {
            margin-top: 20px;

            .classOpinion {
                font-weight: 700;
                font-size: 2rem;
                line-height: 2.5rem;
                color: #ffffff;
            }

            .classOpinionSubText {
                font-weight: 700;
                font-size: 14px;
                margin-bottom: 20px;
                color: #b4b4b4;
            }
        }

        .optionItem {
            display: flex;
            align-items: center;
            padding: 10px 15px;
            cursor: pointer;
            border-bottom: 1px solid #ccc;

            &:hover {
                background-color: #f0f0f0;
                color: #000;
            }

            .optionContent {
                display: flex;
                align-items: center;
                flex: 1; // Zabere celou šířku položky
            }

            .svgIcon {
                margin-right: 15px;
                width: 48px;
                height: 48px;
                flex-shrink: 0; 
            }

            .optionText {
                h3 {
                    margin: 0;
                    font-size: 16px;
                    color: inherit; // Barva textu se mění při hover
                }

                p {
                    margin: 0;
                    font-size: 14px;
                    color: inherit; // Barva textu se mění při hover
                }
            }

            .optionArrow {
                margin-left: auto; // Umístí šipku na pravou stranu
                font-size: 16px;
                color: inherit; // Barva šipky se mění při hover
            }
        }

        &.panelVisible {
            opacity: 1;
            transform: scale(1);
        }

        &.panelHidden {
            opacity: 0;
            transform: scale(0.8);
        }
    }
}