.privacy_policy {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  
    h1 {
      font-size: 2em;
      margin-bottom: 20px;
      text-align: center;
    }
  
    h2 {
      font-size: 1.5em;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  
    p {
      line-height: 1.6;
      margin-bottom: 15px;
  
      ul {
        margin-left: 20px;
        list-style-type: disc;
      }
    }
  
    ul {
      margin-left: 20px;
      list-style-type: disc;
  
      li {
        margin-bottom: 10px;
      }
    }
  }
  